@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background-color: #A8CCC9;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #A8CCC9;
    flex:1;
  }

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
  }


  .topnav a:hover {
    background-color: #DCEAB2;
    color: black;
  }

  .topnav a.active {
    background-color: #C7D66D;
    color: white;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1{
    font-family: 'Playfair Display', serif;
    color: #C7D66D;
    text-align: center;
}
h3{
  font-family: 'Playfair Display', serif;
  border: 2px solid powderblue;
}
h4{
  font-family: 'Playfair Display', serif;

}
p{
  font-family: 'Playfair Display', serif;
  color: #1D2425;
  font-size: 1em;
}


hr{
  font-family: 'Playfair Display', serif;
  color: #1D2425;
}

img{
  border: 3px solid #C7D66D;
}

iframe{
  border: 3px solid #DCEAB2;
}

label{
  font-family: 'Playfair Display', serif;
}

input[type=text] {
  font-family: 'Playfair Display', serif;
  width: 60%;
  padding: 12px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  Background-color: #F0DA94;
}

/*media quaries*/
/*PHONE SCREEN*/
@media only screen and (max-width: 400px) and (max-height: 700px){

  .topnav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }

  iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p{
    font-family: 'Playfair Display', serif;
    font-size: 4px;
    margin: 1em 1em;
    display: flex;
    flex-wrap: nowrap;
  }

  #major{
    font-size: 1em;
  }

  #personal{
    font-size: 1em;
  }

  #hi{
    font-size: 1em;
  }

  #pronouns{
    font-size: 1em;
  }
  #picme{
    font-size: 1em;
  }
  #linkyt{
    font-size: 1em;
  }

  h3{
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    margin: 1em 1em;
    display: flex;
    flex-wrap: nowrap;
  }

  h4{
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    margin: 1em 1em;
    display: flex;
    flex-wrap: nowrap;
  }

}

/*COMPUTER SCREEN*/
@media only screen and (max-width: 1900px) and (max-height: 1100px){

  .computer-screen {
  width: 100%;
  max-width: 1900px;
  max-height: 1100px;
  border: 10px;
  display: flex;
  flex-direction: column;
  }

  body{
      background-color: #A8CCC9;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
      position: relative;
      overflow: hidden;
      background-color: #A8CCC9;
      flex:1;
    }

    .topnav a {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 21px;
    }

    .topnav a:hover {
      background-color: #DCEAB2;
      color: black;
    }

    .topnav a.active {
      background-color: #C7D66D;
      color: white;
    }

  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

  h1{
      font-family: 'Playfair Display', serif;
      color: #C7D66D;
      text-align: center;
  }
  h3{
    font-family: 'Playfair Display', serif;
    border: 2px solid powderblue;
    /* background-color: green; */
  }
  h4{
    font-family: 'Playfair Display', serif;

  }
  p{
    font-family: 'Playfair Display', serif;
    color: #1D2425;
    font-size: 160%;
  }


  hr{
    font-family: 'Playfair Display', serif;
    color: #1D2425;
  }

  img{
    border: 3px solid #C7D66D;
  }

  iframe{
    border: 3px solid #DCEAB2;
  }

}
